/* Genel Ayarlar Başlangıç */

body {
    /* sayfayı ortalamak için */
    margin: 0 auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 44, 9, 1) 39%, rgba(0, 212, 255, 1) 100%);
}

.container {
    /* sayfayı ortalamak için ve sayfanın genel genişliği ve yüksekliği verildi. */
    margin: 0 auto;
    max-width: 1020px;
    max-height: 1020px;
}

.main {
    /* menu ile main arasında biraz boşluk yaratmak için padding top verildi.*/
    padding-top: 16%;
    height: 500px;
}

.card {
    /* anasayfanın içeriğinin güzel gözükmesi için ortalandı ve genişlik-yükseklik değerleri verildi. */
    width: 820px;
    height: 498px;
    background-color: teal;
    margin: 0 auto;
}


/* Genel Ayarlar Bitiş */


/* index.html içerik başlangıcı */

img {
    /* resim boyutlandırma. */
    max-width: 400px;
    max-height: 600px;
}

.img {
    /* resimin yanına yazıyı getirme. */
    float: left;
}

.content {
    /* resimin yanına yazıyı getirme. */
    float: left;
    color: black;
}

.title {
    margin-left: 130px;
}

.box {
    /*  */
    max-width: 410px;
    padding-left: 10px;
}

.icerik {
    font-size: 20px;
}

.ul {
    /* ul etiketi varsayılan stili değiştirilerek divin ortasına getirildi. */
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 170px;
}

.li {
    /* listedeki elemanların yan yana gelmesi ve aralarının biraz açılması ile ortalanması yapıldı. */
    float: left;
    text-align: left;
    margin-top: 12%;
    margin-left: 60px;
}

.a {
    /* a etiketinin varsayılan altyazılı ve mavi stili değiştirildi. */
    display: block;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
}


/* index.html içerik bitişi */


/* egitim.html içerik başlangıcı */

.egitimTitle {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.egitimList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
}

.egitimItem {
    float: left;
    text-align: center;
    padding-left: 6px;
}

.egitimLink {
    text-decoration: none;
    color: black;
}

.dersler {
    margin-top: 20px;
}

.list {
    float: left;
    text-align: center;
    padding-left: 85px;
}

table {
    width: 100%;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.listMain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
}


/* egitim.html bitiş */


/* hobiler.html başlangıç  */

.card-bg {
    width: 820px;
    height: 498px;
    background-image: url("../images/moto.jpg");
    background-size: cover;
    margin: 0 auto;
}

.hobi-bg {
    background-color: white;
    opacity: 0.8;
    width: 430px;
    margin: 0 auto;
    padding-right: 30px;
}

.hobilerim {
    list-style-type: none;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.hobiLi {
    font-size: 20px;
    padding-bottom: 10px;
}


/* hobiler.html bitiş */


/* iletisim.html başlangıç */

.form {
    margin-left: 25%;
    margin-top: 50px;
    width: 300px;
}

.formGrup {
    margin: 0 auto;
    margin-bottom: 10px;
    float: right;
}

.input {
    margin-right: 10px;
}

.submit {
    margin-left: 57%;
}